@charset "UTF-8";
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
body {
  font: 12px "Microsoft YaHei", "Arial Narrow", HELVETICA;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  color: #333333;
}
textarea {
  font-family: "Microsoft YaHei";
}
a {
  color: #2d374b;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  word-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
input {
  outline: none;
  border: 0;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.o-h {
  overflow: hidden;
}
.mr12 {
  margin-right: 12px;
}
.overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.clearfix:after {
  content: "020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  /* 触发 hasLayout */
  zoom: 1;
}
.wrap {
  width: 1000px;
  margin: 0 auto;
}
.lazy {
  background: url(../images/sprite/loading.gif) no-repeat center center;
}
.over {
  background: none;
}
.top {
  width: 100%;
  height: 85px;
  line-height: 85px;
  z-index: 999;
  background-color: #ffffff;
}
.top .wrap {
  height: inherit;
}
.top h1 {
  width: 167px;
  height: inherit;
  background: url(../images/sprite/logo.png?_sprite) no-repeat center center;
}
.top h1 a {
  display: block;
  width: inherit;
  height: inherit;
}
.top ul li {
  float: left;
  margin: 0 20px;
}
.top ul li a {
  color: #666666;
  font-size: 14px;
}
.top ul li a:hover {
  color: #0f6dc4;
}
.top ul .on a {
  color: #0f6dc4;
}
.footer {
  background: #1678b5;
  color: #ffffff;
}
.footer .footer-li {
  float: left;
  margin-left: 70px;
}
.footer .footer-li:first-child {
  margin-left: 0;
}
.footer .footer-li h2 {
  height: 60px;
  line-height: 60px;
  padding-left: 40px;
}
.footer .footer-li .intro_bg {
  background: url(../images/sprite/logo_foot.png?_sprite) no-repeat left center;
}
.footer .footer-li .tel_bg {
  background: url(../images/sprite/icon02.png?_sprite) no-repeat left center;
}
.footer .footer-li .shop_bg {
  background: url(../images/sprite/icon03.png?_sprite) no-repeat left center;
}
.footer .footer-li p {
  font-size: 14px;
  line-height: 28px;
  max-width: 265px;
}
.footer .footer-li p span {
  color: #ffeb3f;
}
.footer .footer-li .us {
  overflow: hidden;
}
.footer .footer-li .us span {
  width: 70px;
  height: 14px;
  color: #ffffff;
  float: left;
}
.footer .footer-li .us em {
  float: left;
}
.footer .footer-li .other {
  overflow: hidden;
}
.footer .footer-li .other li {
  width: 40px;
  float: left;
  text-align: center;
  margin-right: 10px;
}
.footer .footer-li h4 {
  text-align: center;
  line-height: 26px;
}
.footer .code {
  margin-left: 82px;
  margin-top: 35px;
}
.footer .copyright {
  margin-top: 25px;
  padding-top: 12px;
  padding-bottom: 60px;
  border-top: 1px solid #48a8da;
  color: #d9eeff;
}
.footer .copyright .wrap {
  font-size: 14px;
}
.list {
  overflow: hidden;
}
.list .list-li {
  position: relative;
  width: 229px;
  height: 280px;
  float: left;
  text-align: center;
  margin-left: 28px;
}
.list .list-li:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
  filter: alpha(opacity=40);
  /* IE */
  -moz-opacity: 0.4;
  /* 老版Mozilla */
  -khtml-opacity: 0.4;
  /* 老版Safari */
  opacity: 0.4;
  /* 支持opacity的浏览器*/
  width: 100%;
  height: 100%;
  z-index: 1;
}
.list .list-li:first-child {
  margin-left: 0;
}
.list .list-li h2,
.list .list-li p {
  width: 100%;
  position: absolute;
  top: 50%;
  color: #ffffff;
  z-index: 2;
}
.list .list-li h2 {
  margin-top: -12px;
  line-height: 24px;
}
.list .list-li h3 {
  color: #ffffff;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  font-size: 15px;
}
.list .list-li p {
  margin-top: 20px;
  line-height: 12px;
}
.list .list-li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.btm-shadow-list {
  margin-bottom: 20px;
  overflow: hidden;
}
.btm-shadow-list li {
  margin-left: 20px;
  margin-bottom: 20px;
  float: left;
  position: relative;
  width: 320px;
  height: 200px;
}
.btm-shadow-list li:nth-child(3n+1) {
  margin-left: 0;
}
.btm-shadow-list li img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.btm-shadow-list li p {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  z-index: 2;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 24px;
  text-align: center;
}
.btm-shadow-list li p span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 22px;
}
.btm-shadow-list li p em {
  margin: 0 7px;
}
.btm-shadow-list li p:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #000000;
  width: 100%;
  height: 45px;
  filter: alpha(opacity=50);
  /* IE */
  -moz-opacity: 0.5;
  /* 老版Mozilla */
  -khtml-opacity: 0.5;
  /* 老版Safari */
  opacity: 0.5;
  /* 支持opacity的浏览器*/
}
.position-nav {
  height: 43px;
  line-height: 43px;
  border-bottom: 1px solid #e0e0e0;
}
.position-nav span {
  color: #888888;
}
.position-nav em {
  color: #1778b5;
}
.page-nav {
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 0;
  overflow: hidden;
}
.page-nav .f-l ul {
  overflow: hidden;
}
.page-nav .f-l ul li {
  float: left;
  font-size: 14px;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 100px;
}
.page-nav .f-l ul .on {
  background: #33344e;
}
.page-nav .f-l ul .on a {
  color: #ffffff;
}
.page-nav .f-r {
  color: #373961;
  font-size: 14px;
}
.advplace {
  margin-bottom: 50px;
}
.advplace .list .list-li {
  width: 188px;
  height: 230px;
  margin-left: 12px;
}
.advplace .list .list-li:after {
  display: none;
}
.advplace .list .list-li a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.advplace-title {padding-left: 50px;
  font-size: 22px;
  height: 50px;
  line-height: 50px;
  margin: 20px 0 7px;
  font-weight: normal;background-repeat: no-repeat;}
.title {
  overflow: hidden;
  width: 100%;
  height: 120px;
  background: #0262ae url(../pages/common/images/title_bg.jpg) no-repeat center center;
  text-align: center;
}
.title h2 {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  line-height: 70px;
}
.title ul {
  overflow: hidden;
  margin: 0 auto;
  display: inline-block;
}
.title ul li {
  float: left;
  color: #ffffff;
  width: 122px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  text-align: center;
  margin-left: 20px;
}
.title ul li a {
  color: #fff;
}
.title ul li:first-child {
  margin-left: 0;
}
.title ul li:nth-child(4n + 1) {
  background: #8e5971;
}
.title ul li:nth-child(4n + 2) {
  background: #3f9ab1;
}
.title ul li:nth-child(4n + 3) {
  background: #664fb9;
}
.title ul li:nth-child(4n + 4) {
  background: #01955e;
}
.consultWrap {
  position: fixed;
  right: 0;
  top: 200px;
}
.consult {
  background: #34b3f5;
  width: 81px;
  height: 81px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.consult img {
  margin-top: 10px;
}
.consult p {
  margin-top: 10px;
  font-size: 14px;
}
.consultBox {
  display: none;
  background: #fff;
  text-align: center;
  padding-top: 10px;
}
.consultBox a {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
.consultBox .img {
  background: #fff;
}
.consultBox .img img {
  width: 70px;
  margin: 10px 0;
}
.bookWrap {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.bookWrap:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  filter: alpha(opacity=50);
  /* IE */
  -moz-opacity: 0.5;
  /* 老版Mozilla */
  -khtml-opacity: 0.5;
  /* 老版Safari */
  opacity: 0.5;
  /* 支持opacity的浏览器*/
}
.bookWrap .book {
  position: absolute;
  left: 50%;
  margin-left: -420px;
  top: 50%;
  margin-top: -260px;
  bottom: 0;
  width: 840px;
  height: 540px;
}
.bookWrap .book:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  border-radius: 8px;
  filter: alpha(opacity=70);
  /* IE */
  -moz-opacity: 0.7;
  /* 老版Mozilla */
  -khtml-opacity: 0.7;
  /* 老版Safari */
  opacity: 0.7;
  /* 支持opacity的浏览器*/
}
.bookWrap .book h2 {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin: 30px 0;
}
.bookWrap .book .form {
  padding: 0 100px;
}
.bookWrap .book .form input {
  display: block;
  position: relative;
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  border-radius: 8px;
  padding-left: 20px;
  border: 0;
  font-size: 16px;
}
.bookWrap .book .form .info {
  box-sizing: border-box;
  border-radius: 8px;
}
.bookWrap .book .form .info > div {
  position: relative;
  float: left;
  width: 193px;
  margin-left: 30px;
}
.bookWrap .book .form .info > div:first-child {
  margin-left: 0;
}
.bookWrap .book .form .info > div:after {
  content: "*";
  display: block;
  position: absolute;
  right: -18px;
  top: 0;
  color: red;
  z-index: 9;
  font-size: 20px;
}
.bookWrap .book .form .info > div input {
  width: 100%;
}
.bookWrap .book .form .theme {
  display: block;
  margin-top: 30px;
  width: 100%;
}
.bookWrap .book .form textarea {
  padding: 15px;
  box-sizing: border-box;
  margin-top: 30px;
  width: 100%;
  font-size: 16px;
  height: 130px;
  border-radius: 8px;
}
.bookWrap .book-btn {
  width: 390px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 40px;
}
.bookWrap .book-btn > div {
  float: left;
  width: 175px;
  height: 40px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.bookWrap .book-btn .book-sub {
  background: #33bae2;
}
.bookWrap .book-btn .book-close {
  margin-left: 30px;
  background: #818181;
}
.bookWrap .book-warn {
  margin-top: 25px;
  color: #ffcb39;
  font-size: 14px;
  text-align: center;
}
.bookWrap .dialog {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -50px;
  width: 200px;
  height: 100px;
  line-height: 100px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px #ddd;
  background: #fff;
}
.bookWrap .message {
  text-align: center;
  font-size: 18px;
  color: #555;
}
.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -75px;
  width: 300px;
  height: 150px;
  border: 1px solid #ddd;
  z-index: 99;
  background: #fff;
  border-radius: 4px;
}
.msg {
  text-align: center;
  font-size: 16px;
  height: 90px;
  padding: 20px;
  box-sizing: border-box;
}
.btn-d {
  height: 60px;
  text-align: center;
}
.btn-d a {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 18px;
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  border-radius: 4px;
  color: #666;
}
.btn-d a:hover {
  background: #efefef;
  color: #333;
}
.btn-d .sure {
  margin-right: 20px;
}
.advplace-title{background-position:0px 0px}.advplace-title{background-image: url(../images/sprite/common_z.png)}